.react-select-container {
  width: 100%;
}

.react-select-container .react-select__control {
  width: 100%;
}

.signup-form-container {
  display: flex;
  width: min-content;
  gap: 150px;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto;
}

.signup-form {
  border: 1px solid #555;
  border-radius: 15px;
  margin: 50px 10px;
  min-width: 500px;
  padding: 50px 0;
}

.signup-form-container img {
  height: 400px;
  margin: auto 100px;
  justify-content: center;
}

.signup-form-contents {
  padding: 50px;
}

.signup-form h2 {
  font-family: 'Bitter', sans-serif;
  font-size: 2em;
  color: #4b6737;
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
}

.signup-subtitle {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Bitter', serif;
}

.signup-form label {
  display: block;
  margin: 2rem auto;
  font-weight: bold;
}

.signup-form span {
  display: block;
  margin-bottom: 2px;
  font-family: 'Bitter', serif;
  text-align: left;
  margin-left: 10px;
  color: #4b6737;
  font-size: 1.2em;
}

.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  border-radius: 10px;
  background-color: #f3f2e6;
  border: 2px solid #555;
}

.signup-form button {
  background-color: #4b6737 !important;
  width: fit-content;
  border-radius: 30px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Bitter', serif;
  text-transform: capitalize;
  font-weight: normal;
  border: 1px solid #555;
  margin-top: 30px !important;
  padding: 20px 30px;
}

.err {
  font-family: 'Bitter', serif;
  width: fit-content;
  color: red;
  font-size: 1.2em;
  margin: 15px auto;
}
.signup-link {
  text-align: left;
  width: fit-content;
  clear: both;
}

.signup-link p {
  font-family: 'Bitter', serif;
  color: #666;
  font-size: 0.8em;
  margin: 0;
}

.signup-link a {
  color: #4b6737;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
